@import 'shared/scssVariables.scss';

.Header {
  display: flex;
  align-items: center;
  width: 100%;

  &.WithWarnings {
    background-color: rgba($color: $orange, $alpha: 0.2);
    border-radius: $borderRadius;
    animation: pulse 3s infinite linear;

    @keyframes pulse {
      from {
        background-color: rgba($color: $orange, $alpha: 0.2);
      }

      50% {
        background-color: rgba($color: $orange, $alpha: 0);
      }

      to {
        background-color: rgba($color: $orange, $alpha: 0.2);
      }
    }
  }
}

.HeaderContent {
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.ToggleBtn {
  position: relative;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  color: $wetasphalt;
  border: 1px solid $wetasphalt;
  border-radius: $borderRadius;

  transition: background-color 0.3s;
  user-select: none;

  &.ContentVisible {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: $clouds;
  }

  &::after {
    content: '<';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s linear;
  }

  &.Closed::after {
    transform: translate(-50%, -50%) rotate(270deg);
  }

  &.Opened::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.QuestionTitle {
  width: 100%;
}

.QuestionType {
  margin-left: 5px;
  padding: 4px 7px;
  background-color: $darkBlue;
  font-size: 13px;
  font-weight: 400;
  color: $white;
  border-radius: $borderRadius;
  user-select: none;
  word-break: initial;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
