@import 'shared/scssVariables.scss';

.Header {
  display: flex;
  align-items: center;
  width: 100%;
}

.HeaderContent {
  display: flex;
  gap: 5px;
  align-items: center;
}

.ToggleBtn {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  color: $wetasphalt;
  border: 1px solid $wetasphalt;
  border-radius: $borderRadius;

  transition: background-color 0.3s;

  &.ContentVisible {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: $clouds;
  }
}

.QuestionTitle {
  width: 100%;
}
