@import 'shared/scssVariables.scss';

.Logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: $wetasphalt;
  user-select: none;
  text-decoration: none;

  transition: 0.3s color linear;

  &:hover {
    color: rgba($wetasphalt, 0.8);
  }

  @include mediaTablet {
    font-size: 27px;
  }

  @include mediaMobileL {
    font-size: 24px;
  }
}
