@import 'shared/scssVariables.scss';

.Logo {
  font-size: 30px;
  font-weight: bold;
  color: $wetasphalt;
  user-select: none;
  text-decoration: none;

  transition: 0.3s color linear;

  &:hover {
    color: rgba($wetasphalt, 0.8);
  }
}
