@import 'shared/scssVariables.scss';

.Answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid $wetasphalt;
  border-radius: $borderRadius;
  gap: 5px;

  cursor: grab;

  @include mediaMobileM {
    flex-direction: column;
    align-items: flex-end;
  }
}

.Text {
  color: $wetasphalt;
  word-break: break-all;
  font-size: 20px;

  @include mediaTablet {
    font-size: 18px;
  }

  @include mediaMobileM {
    font-size: 16px;
  }
}

.Actions {
  display: flex;
  gap: 5px;
}

.RightAnswerToggleBtn {
  opacity: 1;
}

.NotRightAnswerToggleBtn {
  opacity: 0.4;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
