@import 'shared/scssVariables.scss';

.CheckboxContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
}

.CheckboxInput {
  display: none;

  &:checked + .Checkbox::after {
    display: block;
  }
}

.Checkbox {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background-color: $clouds;
  border: 1px solid $wetasphalt;
  border-radius: 4px;

  &::after {
    content: '✔';
    display: none;
    color: $wetasphalt;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
