@import 'shared/scssVariables.scss';

.ButtonLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  min-width: 100px;
  text-decoration: none;

  border: 2px solid $wetasphalt;
  background-color: transparent;
  font-size: 18px;

  color: $wetasphalt;
  text-align: center;
  border-radius: $borderRadius;
  outline: none;
  cursor: pointer;

  transition: background-color 0.3s;

  &:hover {
    background-color: rgba($color: $wetasphalt, $alpha: 0.1);
  }
}
