.TestHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.StartQuizBtn {
  width: 140px;
  margin-top: 10px;
}

.BackBtn {
  display: inline-block;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.NewQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
