@import 'shared/scssVariables.scss';

.TestsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.TestsCount {
  color: $darkBlue;
  margin-bottom: 10px;
  text-align: right;

}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
