@import 'shared/scssVariables.scss';

.EditableInputContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  &.EditMode {
    justify-content: flex-start;
  }
}

.ModalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
