$black: #0c0c0c;
$white: #ffffff;
$lightBlue: #3498db;
$darkBlue: #2980b9;
$lightRed: #e74c3c;
$darkRed: #c0392b;
$clouds: #ecf0f1;
$wetasphalt: #34495e;
$lightGreen: #2ecc71;
$darkGreen: #27ae60;

$borderRadius: 10px;

$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileLWidth: 425px;
$mobileMWidth: 375px;
$mobileSWidth: 325px;

@mixin mediaLaptop() {
  @media screen and (max-width: $laptopWidth) {
    @content;
  }
}

@mixin mediaTablet() {
  @media screen and (max-width: $tabletWidth) {
    @content;
  }
}

@mixin mediaMobileL() {
  @media screen and (max-width: $mobileLWidth) {
    @content;
  }
}

@mixin mediaMobileM() {
  @media screen and (max-width: $mobileMWidth) {
    @content;
  }
}

@mixin mediaMobileS() {
  @media screen and (max-width: $mobileSWidth) {
    @content;
  }
}
