@import 'shared/scssVariables.scss';

.Header {
  border-bottom: 1px solid $wetasphalt;
}

.HeaderInner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

.RightSide {
  display: flex;
  gap: 10px;
}
