@import 'shared/scssVariables.scss';

.Title {
  display: flex;
  align-items: flex-end;
}

.CreatedAt {
  font-size: 14px;
  color: $darkBlue;
  font-weight: 500;
}

.TestsListItem {
  display: flex;
  justify-content: space-between;

  border: 2px solid $wetasphalt;
  border-radius: $borderRadius;
  padding: 10px 20px;
  user-select: none;

  transition: background-color 0.3s;
  &:hover {
    background-color: $clouds;
  }
}

.Actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
