@import 'shared/scssVariables.scss';

.RadioContainer {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 34px;
  min-height: 30px;
}

.RadioContent {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.RadioButton {
  display: none;

  &:checked + .RadioIcon::after {
    content: '';
  }
}

.RadioIcon {
  position: absolute;
  left: 0;
  top: 50%;
  width: 25px;
  height: 25px;
  background-color: $white;

  border-radius: 50%;
  border: 1px solid $wetasphalt;
  transform: translateY(-50%);
  &::after {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: $wetasphalt;
  }
}
