@import 'shared/scssVariables.scss';

.Title {
  color: $wetasphalt;
  font-weight: bold;
  padding-left: 10px;

  margin: 5px 0;

  &.Large {
    font-size: 42px;
  }

  &.Medium {
    font-size: 34px;
  }

  &.Small {
    font-size: 27px;
  }

  &.Centered {
    text-align: center;
  }
}
