@import 'shared/scssVariables.scss';

.Container {
  padding: 10%;

  @include mediaMobileL {
    padding: 8%;
  }
}

.Left {
  align-self: flex-start;
}

.Link {
  text-decoration: underline;
  color: $wetasphalt;
}
